<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>HouseHuntHub</display-name>
    <servlet-name>HouseHunt</servlet-name>
    <servlet-class>com.househunt.servlet.HouseHunt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HouseHunt</servlet-name>
    <url-pattern>/HouseHunt</url-pattern>
  </servlet-mapping>
  <display-name>HouseHunt</display-name>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>com.househunt.logins.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>com.househunt.servlet.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/contactServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <servlet-class>com.househunt.servlet.ContactDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactDetailsServlet</servlet-name>
    <url-pattern>/detailsServ</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>HouseHunt</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>admin_dashboard.jsp</welcome-file>
    <welcome-file>contact.jsp</welcome-file>
    <welcome-file>customer-dashboard.jsp</welcome-file>
    <welcome-file>displayContacts.jsp</welcome-file>
    <welcome-file>error.jsp</welcome-file>
    <welcome-file>admin_login.jsp</welcome-file>
    <welcome-file>booking_listing.jsp</welcome-file>
    <welcome-file>owner_login.jsp</welcome-file>
    <welcome-file>owner_property_listings.jsp</welcome-file>
    <welcome-file>owner_register.jsp</welcome-file>
    <welcome-file>tenant_details.jsp</welcome-file>
    <welcome-file>tenant_login.jsp</welcome-file>
    <welcome-file>resetPasswordForm.jsp</welcome-file>
     <welcome-file>TenantResetPasswordForm.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>OwnerLoginServlet</display-name>
    <servlet-name>OwnerLoginServlet</servlet-name>
    <servlet-class>com.househunt.logins.OwnerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerLoginServlet</servlet-name>
    <url-pattern>/OwnerLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantLoginServlet</display-name>
    <servlet-name>TenantLoginServlet</servlet-name>
    <servlet-class>com.househunt.logins.TenantLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantLoginServlet</servlet-name>
    <url-pattern>/TenantLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerRegisterServlet</display-name>
    <servlet-name>OwnerRegisterServlet</servlet-name>
    <servlet-class>com.househunt.logins.OwnerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerRegisterServlet</servlet-name>
    <url-pattern>/OwnerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantRegisterServlet</display-name>
    <servlet-name>TenantRegisterServlet</servlet-name>
    <servlet-class>com.househunt.logins.TenantRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantRegisterServlet</servlet-name>
    <url-pattern>/TenantRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantDashboardServlet</display-name>
    <servlet-name>TenantDashboardServlet</servlet-name>
    <servlet-class>com.househunt.logins.TenantDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantDashboardServlet</servlet-name>
    <url-pattern>/TenantDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerDashboardServlet</display-name>
    <servlet-name>OwnerDashboardServlet</servlet-name>
    <servlet-class>com.househunt.logins.OwnerDashboardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerDashboardServlet</servlet-name>
    <url-pattern>/OwnerDashboardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantProfileServlet</display-name>
    <servlet-name>TenantProfileServlet</servlet-name>
    <servlet-class>com.househunt.logins.TenantProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantProfileServlet</servlet-name>
    <url-pattern>/TenantProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerProfileServlet</display-name>
    <servlet-name>OwnerProfileServlet</servlet-name>
    <servlet-class>com.househunt.logins.OwnerProfileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerProfileServlet</servlet-name>
    <url-pattern>/OwnerProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPropertyServlet</display-name>
    <servlet-name>AddPropertyServlet</servlet-name>
    <servlet-class>com.househunt.servlet.AddPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPropertyServlet</servlet-name>
    <url-pattern>/AddProperty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPropertyServlet</display-name>
    <servlet-name>ViewPropertyServlet</servlet-name>
    <servlet-class>com.househunt.servlet.ViewPropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPropertyServlet</servlet-name>
    <url-pattern>/ViewPropertyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerPropertiesServlet</display-name>
    <servlet-name>OwnerPropertiesServlet</servlet-name>
    <servlet-class>com.househunt.servlet.OwnerPropertiesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerPropertiesServlet</servlet-name>
    <url-pattern>/OwnerPropertiesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BachelorsSerrvlet</display-name>
    <servlet-name>BachelorsSerrvlet</servlet-name>
    <servlet-class>com.househunt.servlet.BachelorsSerrvlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BachelorsSerrvlet</servlet-name>
    <url-pattern>/BachelorsSerrvlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BRColonyServlet</display-name>
    <servlet-name>BRColonyServlet</servlet-name>
    <servlet-class>com.househunt.servlet.BRColonyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BRColonyServlet</servlet-name>
    <url-pattern>/BRColonyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GandhiChowkServlet</display-name>
    <servlet-name>GandhiChowkServlet</servlet-name>
    <servlet-class>com.househunt.servlet.GandhiChowkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GandhiChowkServlet</servlet-name>
    <url-pattern>/GandhiChowkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ITHubServlet</display-name>
    <servlet-name>ITHubServlet</servlet-name>
    <servlet-class>com.househunt.servlet.ITHubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ITHubServlet</servlet-name>
    <url-pattern>/ITHubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IndiraNagarServlet</display-name>
    <servlet-name>IndiraNagarServlet</servlet-name>
    <servlet-class>com.househunt.servlet.IndiraNagarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndiraNagarServlet</servlet-name>
    <url-pattern>/IndiraNagarServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MamathaRoadServlet</display-name>
    <servlet-name>MamathaRoadServlet</servlet-name>
    <servlet-class>com.househunt.servlet.MamathaRoadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MamathaRoadServlet</servlet-name>
    <url-pattern>/MamathaRoadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZPCentreServlet</display-name>
    <servlet-name>ZPCentreServlet</servlet-name>
    <servlet-class>com.househunt.servlet.ZPCentreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZPCentreServlet</servlet-name>
    <url-pattern>/ZPCentreServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FamilyServlet</display-name>
    <servlet-name>FamilyServlet</servlet-name>
    <servlet-class>com.househunt.servlet.FamilyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FamilyServlet</servlet-name>
    <url-pattern>/FamilyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BachleorsServlet</display-name>
    <servlet-name>BachleorsServlet</servlet-name>
    <servlet-class>com.househunt.servlet.BachleorsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BachleorsServlet</servlet-name>
    <url-pattern>/BachleorsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerLogoutServlet</display-name>
    <servlet-name>OwnerLogoutServlet</servlet-name>
    <servlet-class>com.househunt.logout.OwnerLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerLogoutServlet</servlet-name>
    <url-pattern>/OwnerLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantLogoutServlet</display-name>
    <servlet-name>TenantLogoutServlet</servlet-name>
    <servlet-class>com.househunt.logout.TenantLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantLogoutServlet</servlet-name>
    <url-pattern>/TenantLogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.househunt.booking.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveBookingServlet</display-name>
    <servlet-name>SaveBookingServlet</servlet-name>
    <servlet-class>com.househunt.booking.SaveBookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveBookingServlet</servlet-name>
    <url-pattern>/SaveBookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStatusServlet</display-name>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <servlet-class>com.househunt.booking.UpdateStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStatusServlet</servlet-name>
    <url-pattern>/UpdateStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingConfirmationServlet</display-name>
    <servlet-name>BookingConfirmationServlet</servlet-name>
    <servlet-class>com.househunt.booking.BookingConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingConfirmationServlet</servlet-name>
    <url-pattern>/BookingConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OwnerPasswordResetServlet</display-name>
    <servlet-name>OwnerPasswordResetServlet</servlet-name>
    <servlet-class>com.househunt.logout.OwnerPasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OwnerPasswordResetServlet</servlet-name>
    <url-pattern>/OwnerPasswordResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TenantPasswordResetServlet</display-name>
    <servlet-name>TenantPasswordResetServlet</servlet-name>
    <servlet-class>com.househunt.logout.TenantPasswordResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TenantPasswordResetServlet</servlet-name>
    <url-pattern>/TenantPasswordResetServlet</url-pattern>
  </servlet-mapping>
</web-app>